*{
padding: 0%;
margin: 0px;
}
  .card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;

    
}
.container div{
    
    width: 350px;
}
.container{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
} 

nav {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background-color: black;
padding: 15px;
margin-top: 0;

}
ul li a{ 
  
  justify-content: space-around;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
  color: #ddd;
}
a{
  text-decoration: none;
}
nav h1{
  margin-bottom: 10px;
  color: #ddd;
}
ul li{
  display: flex;
  flex-wrap: wrap;
}
.Ste{
  position: absolute;
  right: 50%;
}

.Steb{
   
  position: absolute;
  bottom: 40%;
  right: 55%;
 padding: 5px;
 margin-top: 25px;
}

